<!doctype html>
<html>
  <head>
    <title>login for <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>login to <%=shopData.shopName%></h1>
    <form method="POST" action="/users/loggedin">
        <p>Username: <input id="username" type="text" name="username" /></p>
        <p>Password: <input id="password" type="password" name="password" /></p>
        <button type="submit">login</button>
      </form>
  </body>
</html>